

.header {
	background-color: white;
	text-align: center;
	margin: auto;
	vertical-align: center;
	border-bottom: 1px solid lightslategrey;
}

.logo {
	position: relative;
    	margin-left: 140px;
    	z-index: 100;
        vertical-align: middle;
        margin-top: 6px;
}

.text {
	margin-left: 100px;
}