.footer {
        border-top: 1px solid lightslategrey;
        text-align: center;
        vertical-align: center;
        background-color: #00802f;
        color: white;
        position:absolute;
        bottom:0;
        width:100%;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer a {
        color: white;
    
    }
    

    